# R / RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

# Python
.venv/
**/__pycache__/

# Mac OS X files
**/.DS_Store

# thesisdown / bookdown files
_book/**
_bookdown_files/**
thesis.log
thesis.lol
thesis.loa
thesis.aux
thesis.bcf
thesis.out
thesis.Rmd
thesis.tex
tikz*.log

# JetBrains
.idea/**

# Data
data/contribution*/remote/**
