# R / RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Python
.venv/

# Mac OS X files
**/.DS_Store

# thesisdown / bookdown files
_book/**
_bookdown_files/**
thesis.log
thesis.lol
thesis.aux
thesis.bcf
thesis.out
thesis.Rmd

# JetBrains
.idea/**

